.ClubHistory-div {
    padding-bottom: 4rem;
}

.seasonsContainer {
    display: flex;
    flex-direction: column;
}

.ClubHistoryTable {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.ClubHistoryTable table th {
    font-weight: 600;
}

.ClubHistoryTable table thead tr th{
    padding: 10px 20px ; 
    text-decoration: underline;
}

.totalWinnings {
    padding-top: 20px;
    font-weight: 600;
}

.ClubHistoryTable table tbody tr :nth-child(2)::before {
    content: "$ ";
}

.text-subheader {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(16px + 2vmin);
    color: var(--secondaryText);
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

.HistoryTitle {
    font-weight: 600;
    display: inline-block;
    padding-right: 4px;
}

.seasonsDiv{
    padding: 1rem;
}

/* #div2023{
    padding-top: 2rem;
    align-self: baseline;
    text-align: left;
}

#div2022{
    align-self: flex-end;
    text-align: right;
}

#div2021{
    align-self: baseline;
    text-align: left;
}

#div2020{
    align-self: flex-end;
    text-align: right;
}

#div2019{
    align-self: start;
    text-align: left;
} */