.formOuter {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.form {
    padding:20px;
    border: var(--secondary) 1px solid;
    border-radius: 25px;
    width: 90%;
    box-shadow: grey 2px 2px 8px;
    background-color: var(--mainText);
}

.contactFormListItems {
    display: inline-block;
    text-align: left;
    align-items: start;
}

.requiredFeild {
    color: var(--secondaryText);
    font-weight: 500;
    margin-top:-4px;
    margin-bottom: 4px;
}

.formLabelText {
    font-size: 1.1rem;
    padding-bottom: 6px;
    padding-top: 6px;
    font-family: 'DM Sans', sans-serif;
}

.formLabels {
    display: flex
}

.formInputs {
    display: flex;
    padding-bottom: 1rem;
}


.formInputFieldType  {
    width: 45%;
    font-family: var(--font);
    border: 1px solid var(--secondary);
    border-radius: 12px;
    padding: 4px;
}

.formInputField {
    width: 95%;
    font-family: var(--font);
    border-radius: 12px;
    border: 1px solid var(--secondary);
    padding: 4px;
    
}

.formInputFieldMessage {
    width: 95%;
    height: 8rem;
    font-family: var(--font);
    border-radius: 12px;
    border: 1px solid var(--secondary);
    padding: 4px;
}

.submitButton {
    background-color: var(--secondaryText);
    border-radius: 25px;
    padding: 0.5rem 2.5rem;
    letter-spacing: 4px;
    font-family: var(--font);
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    border: none;
}

.submitButton:hover {
    background-color: var(--secondary);
    color: var(--mainText);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

@media screen and (min-width: 768px) {
    .form {
        width: 40%
    }

    .formInputFieldType  {
        width: 25%;
        font-family: var(--font);
        border-radius: 12px;
        padding: 4px;
        border: 1px solid var(--secondary);
    }

    .formLabelText {
        font-size: 1.5rem;
    }

    .generalText {
        text-align: left;
    }
}