.LeaderboardTable {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.LeaderboardTable table th {
    font-weight: 600;
}

.LeaderboardTable table thead tr th{
    padding: 10px 20px ; 
    text-decoration: underline;
}

.totalWinnings {
    padding-top: 20px;
    font-weight: 600;
}

.LeaderboardTable table tbody tr :nth-child(2)::before {
    content: "$ ";
}

.StrikeTable {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.StrikeTable table th {
    font-weight: 600;
}

.StrikeTable table thead tr th{
    padding: 10px 20px ; 
    text-decoration: underline;
}

